.select-meme {
    width: 500px;
    height: 51px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px 15px;
}

@media (min-width: 320px) and (max-width: 598px) {
    .select-meme {
        width: 100%;
    }
}